*{margin:0;padding:0;box-sizing:border-box;}
body{background:black;overflow:hidden;font-family:Arial}
#ui{position:fixed;width:100%;height:100%;pointer-events:none}
#startBtn{pointer-events:auto;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
padding:20px 50px;font-size:24px;border:none;border-radius:50px;background:gold;cursor:pointer}
#recBtn{pointer-events:auto;position:absolute;top:20px;right:20px;
padding:10px 20px;border:none;border-radius:20px;background:red;color:white;display:none}
#note{position:absolute;bottom:10px;width:100%;text-align:center;color:#777;font-size:12px}
